.container
{
    margin-top: 120px;
    width: 30%;
    height: 80%;
    border: 2px solid purple;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.737),rgba(0, 0, 0, 0.729)),url('/static/img/bg.jpg')top/cover no-repeat fixed;

}
.message-container
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 90%;
    overflow-y: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.message
{
    margin-bottom: 10px;
    display: inline-block;
    clear: both;

}
.user-message
{
    float: right;
    background-color: purple;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 80%;

}
.bot-message
{
    float: left;
    background-color: white;
    color: purple;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 80%;
}
.form-control
{
    border: 1px solid purple;
    margin-top: 10px;

}
.user-image
{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    float: right;
    margin-left: 5px;
    border:1px solid purple;
}
.bot-image
{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
    border:1px solid purple;
    background-color: white;
}