.btn{
    background-color: purple; /* button background color */
    border-color: purple; /* button border color */
    color: white; /* button text color */
}

.btn:hover {
    background-color: white; /* hover background color */
    border-color: purple; /* hover border color */
    color: purple; /* hover text color */
}
.badge-secondary
{
    background-color: purple;
    color: white;
}
.button
{
    border:none;
    background-color: white;
}
.image
{
    width:100%;
    height: 80%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: darken;
    margin: 10px;
}
.video
{
    width:100%;
    height: 80%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: darken;
    margin: 10px;
}
.container
{
    overflow-y: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}