{% extends 'base.html' %}


{% load static %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Add_Post.css' %}">

<div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="{{ user.profile.photo.url }}" height="300px" width="300px" class="rounded-circle nav-item mx-2 img">
        </div>
        <div class="col-md-8">
            <h1><u><b>{{ user.username }}</b></u></h1>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <h4>{{ user.email }}</h4>
            <h4>{{ user.profile.bio }}</h4>
            <br><br>

        </div>

    </div>
</div>

<div class="container" style="margin-top: 120px; margin-bottom: 100px;">
    <h1>Blogs : </h1>


    <div class="row">
        {% for post in posts %}
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card  p-3"> <!-- Added border and padding -->
                <div class=" row align-items-center">
                    <div class="col-2 col-lg-1">
                        <img src="{{ user.profile.photo.url }}" height="50px" width="50px" class="rounded-circle img">
                    </div>
                    <div class="col-5 col-lg-5 mt-3">
                        <a href="#"><b><u>{{ post.user }}</u></b></a>
                        <br>
                        <p>{{ post.date }}</p>
                    </div>
                    <div class="col-5 col-lg-5 text-lg-right">
                        <img src="{% static 'img/like.png' %}" height="20px" width="20px">({{ post.likes }})&nbsp;&nbsp;
                        <img src="{% static 'img/views.png' %}" height="20px" width="20px">({{ post.views }})&nbsp;&nbsp;
                        <img src="{% static 'img/comment.png' %}" height="20px" width="20px">({{ b_comments.count }})
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <h3 class="card-title">{{ post.title }}</h3>
                        <p>{{ post.content|truncatechars:50|safe }}</p>
                        <a href="{% url 'BlogPosts' post.b_id %}" class="btn btn-danger my-4">Continue Reading</a>
                        <a href="{% url 'DeleteBlog' post.b_id %}" role="button" class="btn">Delete</a>
                        <a href="{% url 'EditBlogForm' post.b_id %}" class="btn" role="button">Edit Blog</a>
                    </div>
                    <div class="col-12 col-lg-4">
                        <img src="{{ post.thumbnail.url }}" class="img-fluid"> <!-- Added responsiveness for thumbnail image -->
                    </div>
                </div>
            </div>
        </div>


         {% empty %}

        <h3>Blogs Are Not Uploaded</h3>

    {% endfor %}
    </div>

</div>


<div class="container" style="margin-top:120px">
    <h1>Videos : </h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 align-items-center">
        {% for v in video %}
        <div class="col mb-4">
            <div class="card video" style="width: 19rem;">
                <div class="align-items-center video">
                    <video src="{{ v.video_file.url }}" height="300px" width="250px" class="mx-3"
                         muted="muted" controls></video>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ v.title }}</h5>
                    <p>{{ v.desc }}</p>
                    <div class="row align-items-center">
                        <div class="col-2">
                            <img src="{{ user.profile.photo.url }}"
                                height="50px" width="50px" class="rounded-circle img">
                        </div>
                        <div class="col-7 mt-3">
                            <a href="#">&nbsp;<b><u>{{ v.user }}</u></b></a>
                            <br>
                            <p>&nbsp;{{ v.date }}</p>
                        </div>
                        <div class="col-3 mt-3">
                            <a href="{% url 'FullSizeVideo' v.v_id %}" role="button" class="btn btn-outline-danger" style="width:100px; margin-left:-50px;">Play</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <img src="{% static 'img/like.png' %}" height="20px" width="20px">({{ v.likes }})&nbsp;&nbsp;
                        </div>
                        <div class="col-4">
                            <img src="{% static 'img/views.png' %}" height="20px" width="20px">({{ v.views }})&nbsp;&nbsp;
                        </div>
                        <div class="col-4">
                            <img src="{% static 'img/comment.png' %}" height="20px" width="20px">({{ v_comments.count }})
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% empty %}
            <h3>Videos Are Not Uploaded</h3>
        {% endfor %}

    </div>
</div>


    <div class="container" style="margin-top:100px">
        <h1>Images : </h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        {% for img in image %}
        <div class="col mb-4">
            <div class="card image" style="width: 19rem;">
                <img src="{{ img.image_file.url }}" height="350px" width="100%" class="card-img-top" alt="Upload Photo">
                <div class="card-body">
                    <h5 class="card-title">{{ img.title }}</h5>
                    <p>{{ img.desc }}</p>
                    <div class="row align-items-center">
                        <div class="col-2">
                            <img src="{{ user.profile.photo.url }}" height="50px" width="50px" class="rounded-circle img">
                        </div>
                        <div class="col-6 mt-3">
                            <a href="#">&nbsp;<b><u>{{ img.user }}</u></b></a>
                            <br>
                            <p>&nbsp;{{ img.date }}</p>
                        </div>
                        <div class="col-4 mt-3">
                            <a href="{% url 'FullSizeImage' img.i_id %}" role="button" class="btn btn-outline-danger" style="width:100px;margin-left:-20px;">See</a>
                        </div>
                    </div>
                    <div class="row mt-2">

                        <div class="col-4">
                            <img src="{% static 'img/like.png' %}" height="20px" width="20px">({{ img.likes }})&nbsp;&nbsp;
                        </div>
                        <div class="col-4">
                            <img src="{% static 'img/views.png' %}" height="20px" width="20px">({{ img.views }})&nbsp;&nbsp;
                        </div>
                        <div class="col-4">
                            <img src="{% static 'img/comment.png' %}" height="20px" width="20px">({{ i_comments.count }})
                        </div>

                    </div>

                </div>
            </div>
        </div>

        {% empty %}
            <h3>Images Are Not Uploaded</h3>
        {% endfor %}
    </div>
</div>

{% endblock body %}