{% extends 'base.html' %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css/Login_Form1.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

<div class="container" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <form action="{% url 'Login' %}" method="post">{% csrf_token %}
            <div class="mb-3">
                <input type="text" name="uname" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <a href="{% url 'ForgotPasswordForm' %}">Forgot password?</a><br><br>
            <button type="submit" class="button1">Login</button><br><br>
            <div class="signup">
                <span class="signup">Don't have an account?</span>
                <a href="{% url 'RegistrationForm' %}">Signup</a>
            </div>
        </form>
  </div>

</div>
<script src='https://codepen.io/banik/pen/ReNNrO/3f837b2f0085b5125112fc455941ea94.js'></script>
{% endblock %}
{% block footer %}
    <!-- Empty block to override footer -->
{% endblock footer %}